
#header_border{
    border: 1px solid ;
    border-radius: 25px 25px 0px 0px;
    padding:0 15px 0 15px;
 
}

#empty_fields{

	padding: 0px 37px 0 33px;
}

.put-center{
	margin-left: 146px;
	margin-right: 141px;
}

.space{
   padding-bottom: 12px;
}

.icon2{

	margin-left: 177px;
    margin-right: 192px;
}

.material-icons{

	font-size:35px;
	color:red; border: 2px solid black; 
	border-radius: 100%; 
	padding: 4px;
}
/*.check{
	margin-left: 56px;
	margin-right: 45px;


}*/
.icons{

	padding-left: 215px;
}

.buttonlist{
   margin-top: 15px;
   border: 1px solid black;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   padding: 1px 26px 1px 26px;	
}

.detail-head{
	margin-top: 21px;
	margin-bottom: 18px;
}

.details{
    padding: 25px;
    background-color:#D9F9F6;
}