@charset "UTF-8";
.icons-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap;
	/* 1 */
	text-overflow: ellipsis;
	/* 2 */
	overflow: hidden;
}
*:focus,a:focus,a:active,*:active{
	outline: none !important;
}
/* ---------------------------------------------------------
   1. Embedded fonts styles
   ---------------------------------------------------------*/
@font-face {
	font-family: "Wetback-icons";
	src: url("../fonts/Wetback-icons.eot?cegro6");
	src: url("../fonts/Wetback-icons.eot?cegro6#iefix") format("embedded-opentype"), url("../fonts/Wetback-icons.ttf?cegro6") format("truetype"), url("../fonts/Wetback-icons.woff?cegro6") format("woff"), url("../fonts/Wetback-icons.svg?cegro6#Wetback-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Verdana";
	src: url("../fonts/verdana.ttf?ver");
	src: url("../fonts/verdana.eot?ver#iefix") format("embedded-opentype"), url("../fonts/verdana.ttf?cegro6") format("truetype"), url("../fonts/verdana.woff?cegro6") format("woff");
	font-weight: normal;
	font-style: normal;
}
body {
    font-family: "Verdana","Avenire", "Nunito", "Helvetica", "Arial", sans-serif;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "Wetback-icons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
	content: "\e900";
}

.icon-paper-clip:before {
	content: "\e901";
}

.icon-previous:before {
	content: "\e902";
}

.icon-next:before {
	content: "\e903";
}

.icon-collapse:before {
	content: "\e904";
}

.icon-sort:before {
	content: "\e905";
}

.icon-tick:before {
	content: "\e906";
}

.icon-expand:before {
	content: "\e907";
}

.icon-share:before {
	content: "\e908";
}

.icon-calendar:before {
	content: "\e909";
}

.icon-file:before {
	content: "\e90a";
}

.icon-add:before {
	content: "\e90b";
}

.icon-person:before {
	content: "\e90c";
}

.icon-team:before {
	content: "\e90d";
}

.icon-settings:before {
	content: "\e90e";
}

.icon-attention:before {
	content: "\e90f";
}

.icon-list:before {
	content: "\e910";
}

.icon-plus:before {
	content: "\e911";
}

.icon-search:before {
	content: "\e912";
}

.icon-mail:before {
	content: "\e913";
}

.icon-rounded-block:before {
	content: "\e914";
}

.icon-high-priority:before {
	content: "\e915";
}

.icon-medium-priority:before {
	content: "\e916";
}

.icon-low-priority:before {
	content: "\e917";
}

.icon-exclaimation:before {
	content: "\e918";
}

.icon-trash:before {
	content: "\e919";
}

.icon-download:before {
	content: "\e91a";
}

.icon-down-arrow:before {
	content: "\e91b";
}

.icon-up-arrow:before {
	content: "\e91c";
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. General reset
   3. Common site styles
   4. Custom form styles
   ---------------------------------------------------------*/
/* 2. General reset */
html {
	height: 100%;
}
html body {
	height: 100%;
}

/* main container styles */
#wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

#main {
	position: relative;
}

.main-holder {
	-webkit-transition: padding-left .3s ease-in-out;
	transition: padding-left .3s ease-in-out;
}
@media (min-width: 768px) {
	.nav-active .main-holder {
		padding-left: 276px;
	}
	.nav-active .main-holder:before {
	  content: " ";
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  right: auto;
	  bottom: 0px;
	  background:#79a1ba;
	  width: 333px;
	}
}

/* navigation panel styles */
.left-panel {
	-webkit-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
	position: absolute;
	width: 320px;
	left: -254px !important;
	top: 0;
	background: #79a1ba;
	padding: 20px 20px 18px 20px;
	color: #01496d;
	z-index: 5;
    overflow-x:hidden;
    overflow-y:auto;
	max-height: 100%;
	height: 100%;
	min-height: 400px;
}
@media (min-width: 768px) {
	.left-panel {
		width: 333px;
		left: -270px !important;
		
	}
}
.left-panel:after {
	content: "";
	right: 0;
	left: 0;
	top: 0;
	/*bottom: -9999px;*/
	position: absolute;
	z-index: -1;
	background: #79a1ba;
}
.nav-active .left-panel {
	left: 0 !important;

}
.nav-active .left-panel.fixed-position {
	overflow-y: auto;

}
.left-panel.fixed-position {
	height: 100vh;
}
.left-panel.fixed-position:after {
	display: none;
}
.left-panel .heading-wrap {
	padding: 0 40px;
	margin: 0 0 20px;
}
.left-panel .panel-title {
	font-weight: normal;
	font-size: 21px;
	line-height: 24px;
	display: block;
	text-align: center;
}

.add-link {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	background: #acd7e8;
	color: #79a1ba;
	font-size: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.add-link:hover {
	background: #01496d;
	color: #fff;
}

/* burger button styles */
.nav-opener {
	width: 22px;
	height: 19px;
	position: absolute;
	right: 23px;
	top: 23px;
	outline: none;
}
.nav-opener:hover {
	opacity: .8;
}
.nav-opener:before,
.nav-opener:after,
.nav-opener span {
	background: #acd7e8;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 2px;
	margin-top: -1px;
	-webkit-transition: .3s ease 0s;
	transition: .3s ease 0s;
}
.nav-opener:after,
.nav-opener:before {
	content: "";
	top: 0;
	margin: 0;
}
.nav-opener:after {
	top: 17px;
}

/* search form styles */
.search-form {
	position: relative;
	padding: 0 51px 1px 0;
}
.search-form .input-wrap {
	position: relative;
	padding: 0 30px 0 0;
}
.search-form input[type="search"] {
	border: none;
	background: #8aafc1;
	border-radius: 12px 0 0 12px;
	padding: 0 17px;
	margin: 0;
	height: 28px;
	width: 100%;
	font: 16px/20px "Avenire", "Nunito", "Helvetica", "Arial", sans-serif;
	color: #01496d;
	outline: none;
}
.search-form input[type="search"]::-webkit-input-placeholder {
	color: #01496d;
}
.search-form input[type="search"]::-moz-placeholder {
	opacity: 1;
	color: #01496d;
}
.search-form input[type="search"]:-moz-placeholder {
	color: #01496d;
}
.search-form input[type="search"]:-ms-input-placeholder {
	color: #01496d;
}
.search-form input[type="search"].placeholder {
	color: #01496d;
}
.search-form button {
	width: 30px;
	height: 28px;
	border: none;
	background: #acd7e8;
	padding: 3px 1px 0 0;
	margin: 0;
	border-radius: 0 12px 12px 0;
	position: absolute;
	right: 0;
	top: 0;
	color: #79a1ba;
	outline: none;
	font-size: 22px;
}
.search-form button:hover {
	color: #fff;
	background: #051123;
}
.search-form .add-link {
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
}
.nav-active .search-form .add-link {
	opacity: 1;
}

/* sub navigation styles */
.sub-navigation {
	-webkit-transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
	transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
	margin: 0 -20px;
	position: relative;
	pointer-events: auto;
	opacity: 0;
	visibility: hidden;
	/* menu opener styles*/
}
.nav-active .sub-navigation {
	/*pointer-events: auto;*/
	visibility: visible;
	opacity: 1;
}
.sub-navigation li {
	margin: 0 0 4px;
	position: relative;
}
.sub-navigation li:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 4px;
	background: #01496d;
	height: 0;
}
.sub-navigation li.active:after {
	height: 100%;
}
.sub-navigation li.active .opener {
	background: #8aafc1;
}
.sub-navigation .opener {
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	display: block;
	color: #01496d;
	position: relative;
	padding: 19px 15px 19px 38px;
	outline: none;
}
.sub-navigation .opener:hover {
	background: #8aafc1;
}
.sub-navigation .opener i {
	position: absolute;
	left: 14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 1;
}
.sub-navigation .opener .icon-list {
	font-size: 32px;
}
.sub-navigation .opener .icon-team {
	font-size: 32px;
}
.sub-navigation .slide {
	display: none;
	/*overflow: hidden;*/
	position: relative;
	background: #8aafc1;
}

/* second navigation styles */
.second-nav {
	padding: 0 0 26px 58px;
	font-size: 16px;
	line-height: 18px;
}
.second-nav li:after {
	display: none;
}
.second-nav li.active p {
	background: #e0e0e0;
	border-radius: 50px 0 0 50px;
}
.second-nav p {
	color: #01496d;
	display: block;
	padding: 9px 66px 9px 24px;
}
.second-nav p:hover {
	/*color: #fff;*/
	cursor: pointer;
}
.second-nav .custom-badge {
	position: absolute;
	top: 50%;
	right: 30px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	padding: 4px 2px;
}
.second-nav .custom-badge .fa-share-alt-square{
	position: absolute;
	right: -20px;
	color: #01496d;
}
/* second navigation styles Custom Side Bar*/
.second-nav-custom {
    font-size: 16px;
    line-height: 20px;
	padding: 0 0 26px 4px;
}
.second-nav-custom p {
	cursor: pointer;
	color: #01496d;
	display: block;
	padding: 9px 66px 9px 24px;
}
.second-nav-custom li:after {
	display: none;
}
.second-nav-custom li{
	margin: 0px;
	transition: all 0.3s;
}
.second-nav-custom li.active{
	border-left: 4px solid #01496d;
	background: #97bdd3;
}
/* third-nav styles*/
.third-nav {
	padding: 0 0 20px 40px;
	font-size: 14px;
	line-height: 35px;
	margin-top: -8px;
}
.third-nav li{
	cursor:pointer;
	transition: all 0.1s;
	padding-left: 15px;
}
.third-nav li:after {
	display: none;
}
.third-nav li.active {
    background: #e0e0e0;
    border-radius: 50px 0 0 50px;
	border: none;
}
.third-nav li.active p {
	background: #e0e0e0;
	border:none;
	border-radius: 50px 0 0 50px;
}
.third-nav p {
	color: #01496d;
	display: block;
	padding: 9px 66px 9px 24px;
}
.third-nav p:hover {
	cursor: pointer;
}
/* task information */
.task-information {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 19px 25px 0 84px;
}
.task-information .container-fluid {
	width: 100%;
}
.task-information .row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 1199px) {
	.task-information .row {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}
@media (min-width: 992px) {
	.task-information .one-col .col-collapsed {
		width: 80%;
	}
}
@media (min-width: 1200px) {
	.task-information .one-col .col-collapsed {
		width: 95%;
	}
}
/*@media (min-width: 992px) {
	.task-information .two-col .col-collapsed {
		width: 90%;
	}
}*/
@media (min-width: 1200px) {
	.task-information .two-col .col-collapsed {
		width: 48%;
	}
}
/*@media (min-width: 992px) {
	.task-information .three-col .col-collapsed {
		width: 50%;
	}
}*/
@media (min-width: 1200px) {
	.task-information .three-col .col-collapsed {
		width: 33.3%;
	}
}

/* coumns styles */
.column-slider {
	-webkit-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
	padding: 0 7px 0px;
	position: relative;
	width: 100%;
}
@media (min-width: 992px) {
	.column-slider {
		width: 64px;
	}
}
.column-slider.col-collapsed {
	width: 100%;
}
@media (min-width: 800px) {
	.column-slider.col-collapsed {
		width: 33.3%;
	}
}
.column-slider.col-collapsed .col-heading {
	text-align: center;
}
@media (min-width: 992px) {
	.column-slider.col-collapsed .col-frame {
		opacity: 1;
		visibility: visible;
		max-height: none;
	}
}
@media (min-width: 992px) {
	.column-slider.col-collapsed .opener-hold {
		left: auto !important;
		right: -6px !important;
	}
}
.column-slider.col-collapsed .column-opener i {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
@media (max-width: 991px) {
	.column-slider.col-collapsed .col-content {
		max-height: 2000px;
	}
}
.column-slider.col-collapsed .collapsed-text {
	display: block !important;
}
.column-slider.col-collapsed .show-text {
	display: none !important;
}
.column-slider .col-content {
	position: relative;
}
@media (max-width: 991px) {
	.col-collapsed.column-slider .col-content {
		
		overflow: visible;
	}
	.column-slider .col-content {
		-webkit-transition: max-height .3s ease-in-out;
		transition: max-height .3s ease-in-out;
		max-height: 0;
		overflow: hidden;
	}
}
@media (max-width: 991px) {
	.column-slider .col-frame {
		padding: 0 4px;
	}
}
@media (min-width: 992px) {
	.column-slider .col-frame {
		-webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
		transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
		opacity: 0;
		visibility: hidden;
		max-height: 0;
	}
}
.column-slider .jcf-scrollbar-horizontal {
	display: none !important;
}

/* column heading styles */
.col-heading {
	position: relative;
	margin: 0 0 17px;
	text-align: center;
}
.col-heading h2 {
	-webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	font-size: 21px;
	line-height: 24px;
	margin: 0;
}
.col-heading .opener-hold {
	position: absolute;
	right: 10px;
	top: 50%;
	height: 26px;
	width: 26px;
	margin-top: -10px;
}

@media (max-width: 991px) {
	.col-heading {
		background: #fff;
		box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
		padding: 14px 25px;
		margin: 0 4px 17px;
	}
}

@media (min-width: 992px) {
	.col-heading h2 {
		opacity: 0;
		visibility: hidden;
	}
	.col-collapsed .col-heading h2 {
		visibility: visible;
		opacity: 1;
	}
}

@media (min-width: 992px) {
	.col-heading .opener-hold {
		right: -6px;
		margin-top: -12px;
		right: auto;
		left: 0;
	}
}

.col-heading .opener-hold.hover .popup {
	opacity: 1;
	visibility: visible;
}
.col-heading .opener-hold .popup {
	-webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	position: absolute;
	left: 50%;
	top: -38px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #051123;
	border-radius: 4px;
	color: #fff;
	font-size: 10px;
	line-height: 12px;
	width: 95px;
	padding: 10px;
	opacity: 0;
	visibility: hidden;
}
@media (min-width: 992px) {
	.col-heading .opener-hold .popup {
		top: -34px;
	}
}
.col-heading .opener-hold .popup:after {
	content: "";
	position: absolute;
	left: 52%;
	bottom: -11px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border: 5px solid transparent;
	border-top: 6px solid #051123;
}
.col-heading .opener-hold .popup-text {
	display: none;
}
.col-heading .opener-hold .popup-text.show-text {
	display: block;
}
.col-heading .column-opener {
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	color: #051123;
	font-size: 26px;
	margin-top: -12px;
	outline: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -13px 0 0 -14px;
}
@media (max-width: 991px) {
	.col-heading .column-opener {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		margin: -15px 0 0 -12px;
	}
	.col-heading .column-opener .icon-collapse:before {
		content: "\e902";
	}
}
.col-heading .column-opener:hover {
	color: #79a1ba;
}
.col-heading .column-opener i {
	display: block;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* content styles */
.content-box {
	background: #fff;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	padding: 10px 11px 11px 14px;
	margin: 0 0 11px;
	overflow: hidden;
	position: relative;
}
.content-box.small-padding {
	padding: 4px 19px 11px 8px;
}

/* form styles */
.form {
	/* custom form styles */
}
.form .input-wrap {
	overflow: hidden;
	position: relative;
}
@media (min-width: 1400px) {
	.form .form-row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin: 0 -4px 7px;
	}
}
.form .form-row .form-col {
	padding: 0 0 7px;
}
@media (min-width: 1400px) {
	.form .form-row .form-col {
		width: 50%;
		padding: 0 4px;
	}
}
.form .input-sm {
	padding: 7px 7px 4px;
}
@media (max-width: 991px) {
	.form .input-sm {
		padding: 7px 7px 4px;
	}
}
.form input[type="text"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="email"] {
	font-size: 14px;
	line-height: 16px;
	box-shadow: none;
	-webkit-appearance: none;
}
.form  .form-row .form-col input{
	font-size: 13px;
	padding: 3px;
}
.form textarea {
	font-size: 14px;
	line-height: 20px;
	padding: 12px 10px 5px 16px;
	resize: none;
	height: 82px;
	box-shadow: none !important;
	-webkit-appearance: none;
}
.form .message-hold {
	position: relative;
	margin: 0 6px 0 0;
	background: #e8e8e8;
	height: 82px;
}
.form .message-hold textarea {
	/*height: 40px;*/
    height: 75px;
	border-color: #e8e8e8 !important;
	padding-right: 10px;
	padding-left: 10px;
}
.form .message-hold .add-comments {
	position: absolute;
	right: 2px;
	bottom: 2px;
	padding: 4px 10px 5px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}
.form button {
	background: none;
	border: 0;
	outline: none;
}
.form .add-comments {
	background: #008be0;
}
.form .add-comments:hover {
	background: #000;
}
.form .btn-add {
	width: 30px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	color: #9b9b9b;
	font-size: 20px;
	padding: 5px 0 0;
}
.form .btn-add:hover {
	color: #000;
}
.form [type="radio"],
.form [type="checkbox"] {
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: -1;
}
.form .fake-input,
.form label {
	display: inline-block;
	vertical-align: middle;
}
.form label {
	padding-right: 5px;
	cursor: pointer;
}
.form .fake-input {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #a4a4a4;
	vertical-align: middle;
	position: relative;
	margin-right: 10px;
}
.form [type=radio] + .fake-input {
	border-radius: 100%;
}
.form [type="checkbox"] + .fake-input:before {
	content: "";
	width: 8px;
	height: 7px;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid #a4a4a4;
	border-width: 0 0 1px 1px;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: -6px 0 0 -4px;
}
.form [type="radio"] + .fake-input:before {
	content: "";
	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	background: #777;
	border-radius: 100%;
	opacity: 0;
}
.form [type="radio"]:checked + .fake-input:before,
.form [type="checkbox"]:checked + .fake-input:before {
	opacity: 1;
}
.form input:disabled + .fake-input,
.form input:disabled ~ .fake-label {
	opacity: .5;
}

/* task form styles */
.task-form .input-wrap {
	padding: 0 15px 0 0;
}
@media (max-width: 767px) {
	.task-form .input-wrap {
		padding: 0 0 33px;
	}
}

.task-form input[type="text"],
.task-form input[type="search"],
.task-form input[type="tel"],
.task-form input[type="password"],
.task-form input[type="email"] {
	padding: 6px 31px 4px;
}

/* detail form styles */
.detail-form {
	position: relative;
}
.detail-form:after {
	content: "";
	left: 42px;
	top: 0;
	bottom: 0;
	position: absolute;
	background: #cdcbcb;
	width: 1px;
}

.detail-heading {
	border-bottom: 1px solid #cdcbcb;
	position: relative;
	padding: 10px 15px 14px 4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.detail-heading:after {
	content: "";
	position: absolute;
	left: 42px;
	top: 0;
	bottom: 0;
	width: 1px;
	background: #cdcbcb;
}
.detail-heading .detail-title {
	width: 80%;
	margin: 0;
}
.detail-heading .img-hold {
	margin: 0 20px 0 0;
}
.detail-heading .color-hold {
	display: block;
	height: 29px;
	width: 28px;
	border-radius: 50%;
	margin: 0 20px 0 0;
}
.detail-heading .img-hold img{
	border-radius: 50%; 
}


/* detail titems styles */
.detail-item {
	border-bottom: 1px solid #cdcbcb;
	position: relative;
	overflow: hidden;
	/* images links */
}
.detail-item:last-child {
	border: none;
}
/*.detail-item.detail-time .description {
	padding-right: 35px;
}
@media (min-width: 1200px) {
	.detail-item.detail-time .description {
		padding-right: 32px;
	}
}*/
.detail-item .img-hold {
	width: 28px;
	height: 28px;
	overflow: hidden;
	display: block;
	border-radius: 50%;
	margin: 0 20px 0 0;
}
.detail-item .img-hold img {
	display: block;
	width: 100%;
	border-radius: 50%;
}
.detail-item .img-title {
	width: 43px;
	padding: 3px 10px 0 5px;
	margin: 0 9px 0 0;
	text-align: center;
	float: left;
}
.detail-item .img-title a {
	display: inline-block;
	vertical-align: top;
	font-size: 32px;
}
.detail-item .img-title .icon-plus {
	font-size: 24px;
}
.detail-item .img-title .icon-add {
	font-size: 38px;
	margin: 0 0 0 -4px;
}
#TaskCommentIcon.active{

	color: #051123 !important;
}
#TaskHistoryIcon.active .icon-clock{
	background-position: 0 -18px;
}
.detail-item .img-title .icon-paper-clip {
	font-size: 28px;
}
.detail-item .img-title .icon-chat {
	font-size: 24px;
	margin: 0 0 0 2px;
}
.detail-item .img-title .icon-clock {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: top;
	background: url(../images/icon-clock.png) no-repeat;
}
.detail-item .img-title .icon-clock:hover {
	background-position: 0 -18px;
}
.detail-item .description {
	overflow: hidden;
	padding: 12px 0 8px;
}
.detail-item .image-hold {
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	margin: 14px 15px 6px 0;
}
.image-hold.hover .hover-box {
	opacity: 1;
	visibility: visible;
}
.detail-item .image-hold img {
	display: block;
	width: 100%;
	border-radius: 8px;
}
.image-hold .hover-box {
	-webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	border-radius: 12px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	background: rgba(0, 0, 0, .4);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
}
.detail-item .image-hold .image-title {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #fff;
	display: block;
	text-align: center;
}
.detail-item .image-tools {
	margin: 0 0 13px;
	letter-spacing: 4px;
	text-align: center;
}
.detail-item .image-tools li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	padding: 0 5px;
}
.detail-item .image-tools a {
	width: 32px;
	height: 32px;
	display: block;
	border-radius: 50%;
	background: #fff;
	color: #051123;
	font-size: 22px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.detail-item .image-tools a:hover {
	color: #dd283e;
}
.detail-item .image-tools a .icon-search {
	font-size: 28px;
}
.detail-item .ckeckbox-list {
	margin: 15px 0 6px 4px;
}
.detail-item .post-list {
	margin: -2px 0 7px;
}

/* creater list styles */
.post-list {
	margin: 0;
}
.post-list li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding: 0 33px 15px 0;
}
.post-list .img-hold {
	width: 34px;
	height: 34px;
	margin: 0 10px 0 0;
}
.post-list .text-hold {
	width: 80%;
	padding: 5px 0 0;
}
.post-list .title {
	color: #9b9b9b;
	font-weight: normal;
	display: block;
	font-size: 15px;
	line-height: 18px;
	margin: 0 0 4px 0;
}
.post-list .title .green {
	color: #12bf00;
}
.post-list .title .red {
    color: #dd283e;
}
.post-list .title .blue {
	color: #79a1ba;
}
.post-list .author {
	color: #051123;
	text-transform: capitalize;
}
.post-list .icon-post {
	position: absolute;
	right: 11px;
	top: 3px;
	font-size: 20px;
	color: #9b9b9b;
}
.post-list .icon-post:hover {
	color: #000;
}
.post-list p {
	margin: 0;
}

/* files list styles*/
.files-list {
	margin: 0 0 2px -7px;
	font-size: 12px;
	line-height: 14px;
}
.files-list li {
	min-height: 25px;
}
.files-list .icon-file {
	vertical-align: middle;
	font-size: 31px;
	line-height: 1;
}
.files-list .fa.fa-trash{
	font-size: 12px;
	line-height: 14px;
	padding: 5px;
	opacity: 0;
	transition: all 0.5s;
}
.files-list li:hover .fa.fa-trash{
	opacity: 1;
}
.detail-title {
	font-weight: bold;
	color: #008be0;
	font-size: 15px;
	line-height: 18px;
	display: block;
	margin: 0 0 8px;
}

/* task item styles */
.active-task {
	margin: 0 0 23px;
}

.completed-tasks.active .opener .caret {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.completed-tasks .opener {
	font-size: 16px;
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
	color: #000;
	margin: 0 0 23px;
	outline: none;
}
.completed-tasks .opener .caret {
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	margin: 0 0 0 2px;
	transform-orintation: center;
}
.completed-tasks .opener:hover {
	color: #79a1ba;
}

.task-item {
	position: relative;
}
.task-item.completed label {
	cursor: none;
	/*pointer-events: none;*/
}
.task-item.completed .fake-input {
	background: #9b9b9b;
	border-color: #9b9b9b;
}
.task-item.completed .fake-input:before {
	border-color: #fff !important;
	opacity: 1;
}
.task-item.completed .task-title {
	text-decoration: line-through;
	color: #9b9b9b;
}
.task-item.completed time {
	color: #9b9b9b;
}
.task-item label {
	display: block;
	padding: 0;
	cursor: pointer;
}
.task-item .fake-input {
	width: 22px;
	height: 22px;
	position: absolute;
	left: 14px;
	top: 14px;
	border-radius: 4px;
	border: 1px solid #000;
}
.task-item [type="checkbox"] + .fake-input:before {
	width: 9px;
	height: 5px;
	left: 50%;
	border: 1px solid #000;
	border-width: 0 0 1px 1px;
	margin: -4px 0 0 -5px;
}
.task-item .fake-label {
	-webkit-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	background: #fff;
	display: block;
	padding: 13px 11px 11px 45px;
	min-height: 72px;
	margin: 0 0 11px;
}
.task-item .fake-label:hover {
	background: #f7f7f7;
}
/*.task-item .fake-label.sm-tools-absolute {
	padding: 13px 11px 45px 45px;
}
@media (min-width: 1200px) {*/
	.task-item .fake-label.sm-tools-absolute {
	    padding: 13px 11px 5px 45px;
	}
/*}*/
.task-item .task-title {
    font-size: 15px;
    line-height: 20px;
    display: block;
    font-weight: bolder;
    margin: 0 0 7px;
}
@media (max-width: 1200px) {
	/*.task-item .fake-label.sm-tools-absolute .controls-list {
		position: absolute;
		bottom: 5px;
		left: auto;
		right: 6px;
	}*/
	.task-item .task-title {
		font-size: 16px;
		line-height: 17px;
	}
	.task-item .task-title {
		font-size: 16px;
		line-height: 17px;
	}
	.controls-list i{
		font-size: 20px !important;
	}
	.task-item  time{
		font-size: 10px;
	}
}
@media (max-width: 1100px) {
	.task-item .task-title {
		font-size: 14px;
		line-height: 15px;
	}
	.task-item .fake-input {
	    width: 15px;
	    height: 15px;
	    left: 15px;
	    top: 25px;
	}
	.task-item .fake-label.sm-tools-absolute {
	    padding: 13px 11px 5px 45px;
	}
	.controls-list i{
		font-size: 20px !important;
	}
}
.task-item.active .fake-label {
	background: #94bed3;
}
.task-item .title-hold {
	overflow: hidden;
}

.task-item time {
	display: block;
	color: #dd283e;
	font-weight: bold;
	font-size: 11px;
}
.task-item time.black-text{
	color: #000;
}
/* controls links styles */
.controls-list {
	font-size: 26px;
	margin: -4px 0 0;
}
@media (max-width: 767px) {
	/*.controls-list {
		position: absolute;
		left: 6px;
		right: 6px;
		bottom: 5px;
	}*/
}
.controls-list.add-styles {
	margin-top: 2px;
}
.controls-list li {
	float: left;
}
.controls-list li.disabled {
	opacity: .1;
}
.controls-list li.disabled a,
.controls-list li.disabled div {
	pointer-events: none;
	cursor: none;
}
.controls-list a ,
.controls-list div {
	color: #000;
	position: relative;
	height: 35px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: default;
}
/*.controls-list a:hover {
	color: #9b9b9b;
}*/
.controls-list .badge {
	position: absolute;
	right: -2px;
	top: 2px;
}
.controls-list i {
	line-height: 1;
}
.controls-list .icon-sort {
	font-size: 24px;
}
.controls-list .icon-chat {
	font-size: 22px;
}
.controls-list .icon-file {
	font-size: 30px;
	margin: 3px 0 0;
}
.controls-list .icon-calendar {
	font-size: 24px;
	margin: 1px 0 0;
}

/* priority list styles */
.priority-list {
	float: left;
	margin-right: 5px;
}
.priority-list li {
	margin: 0 0 10px;
	width: 20px;
}
.priority-list label {
	padding: 0;
	display: block;
}
.priority-list .fake-input {
	border-radius: 50%;
	background: #c3c6ca;
	float: none;
	display: block;
	cursor: pointer;
	margin: 0 auto;
	border: none;
}
/*.priority-list .fake-input:hover {
	background: #051123;
}*/
.priority-list .fake-input:before {
	display: none;
}
.priority-list .hight + .fake-input {
	width: 20px;
	height: 20px;
}
.priority-list .medium + .fake-input {
	width: 15px;
	height: 15px;
}
.priority-list .small + .fake-input {
	width: 7px;
	height: 7px;
}
.priority-list [type="checkbox"]:checked + .fake-input {
	background: #051123;
}

/* default checkbox list */
.ckeckbox-list {
	font-size: 13px;
	line-height: 15px;
	margin: 0;
}
.ckeckbox-list li {
	margin: 8px 0 0;
	padding: 0 0 0 31px;
	position: relative;
}
.ckeckbox-list li:first-child {
	margin: 0;
}

.ckeckbox-list .fake-input {
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    margin-right: 0px;
    margin-left: 5px;

}

.ckeckbox-list .fake-label{
	float: left;
}
.ckeckbox-list label {
	font-weight: normal;
}

/* title for collapse state styles */
@media (max-width: 991px) {
	.title-placeholder {
		display: none;
	}
}

@media (min-width: 992px) {
	.title-placeholder {
		-webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out, height .3s ease-in-out;
		transition: opacity .3s ease-in-out, visibility .3s ease-in-out, height .3s ease-in-out;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		background: #fff;
		box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		visibility: visible;
		opacity: 1;
		height: 50vh;
	}
	.col-collapsed .title-placeholder {
		visibility: hidden;
		opacity: 0;
	}
	.title-placeholder .title {
		font-size: 21px;
		line-height: 24px;
		display: block;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}

/* badges styles */
.badge {
	font-size: 10px;
	width: 12px;
	height: 12px;
	padding: 1px 0;
}

.custom-badge {
	border-radius: 4px;
	height: 22px;
	min-width: 22px;
	color: #01496d;
	font-size: 14px;
	line-height: 12px;
	font-weight: bold;
}

/* helper class */
.purple-color {
	background: #56308C;
	color: #fff;
}
.blue-color {
	background: #3b5998;
	color: #fff;
}
.brown-color {
	background: rgb(160, 114, 85);
	color: #fff;
}
.maroon-color {
	background: #800000;
	color: #fff;
}
.yellow-color {
	background: #FFFC00;
}
.aqua-color {
	background: rgb(107, 184, 189);
	color: #fff;
}
.pink-color {
	background: #ec008c;
	color: #fff;
}

.green-color {
	background: rgb(7, 176, 133);
	color: #fff;
}
.indigo-color {
	background: #4B0082;
	color: #fff;
}
.charcoal-color{
	background: #444;
	color: #fff;
}
.warning-color {
	background: rgb(255, 148, 80);
	color: #fff;
}

.danger-color {
	background:#dd283e;
	color: #fff;
}

.IndianRed-color {
	background:#CD5C5C;
	color: #fff;
}

.Crimson-color {
	background:#DC143C;
	color: #fff;
}
.HotPink-color {
	background:#FF69B4;
	color: #fff;
}

.LightSalmon-color {
	background:#FFA07A;
	color: #fff;
}
.Tomato-color {
	background:#FF6347;
	color: #fff;
}
.Gold-color {
	background:#FFD700;
	color: #fff;
}
.PeachPuff-color {
	background:#FFDAB9;
}
.DarkKhaki-color {
	background:#BDB76B;
	color: #fff;
}
.Lavender-color {
	background:#E6E6FA;
	color: #fff;
}
.Thistle-color {
	background:#D8BFD8;
	color: #fff;
}
.Orchid-color {
	background:#DA70D6;
	color: #fff;
}
.DarkSlateBlue-color {
	background:#483D8B;
	color: #fff;
}
.PaleGreen-color {
	background:#98FB98;
	color: #fff;
}
.ForestGreen-color {
	background:#228B22;
	color: #fff;
}
.MediumAquamarine-color{
	background:#66CDAA;
	color: #fff;
}
.Teal-color {
	background:#008080;
	color: #fff;
}
.Cyan-color {
	background:#00FFFF;
	color: #fff;
}
.SteelBlue-color {
	background:#4682B4;
	color: #fff;
}
.SkyBlue-color {
	background:#87CEEB;
	color: #fff;
}
.Chocolate-color {
	background:#D2691E;
	color: #fff;
}
.WhiteSmoke-color {
	background:#F5F5F5;
}

.hide {
	position: absolute;
	left: -9999px;
	top: -9999px;
	overflow: hidden;
}

.calendar-placeholder {
	padding: 0 0 31px;
	margin: 0 -12px 0 0;
}

.fc-content-skeleton .fc-time {
	width: 59px !important;
	text-align: center;
}

.fc-ltr .fc-axis {
	text-align: center !important;
}

.fc-time-grid .fc-slats .fc-minor td {
	border-color: #bde1f6;
}

.calendar-placeholder td {
	border-color: #bee1f6 !important;
	padding: 10px 7px 11px;
}

.fc-slats table {
	width: 100%;
	table-layout: fixed;
	background: #deeff9 !important;
	border-collapse: collapse;
	color: #051123 !important;
	font-size: 12px !important;
	line-height: 18px !important;
}

.fc-slats .fc-time span {
	position: relative;
	top: 9px;
}

.fc-head table {
	width: 100%;
	border-collapse: collapse;
}

.fc-head th {
	border: 1px solid #bee1f6 !important;
	border-bottom: 0 !important;
	padding: 14px 10px !important;
}

.fc-head .fc-axis {
	width: 22px !important;
}

.fc-head .fc-day-header {
	font-size: 16px !important;
	line-height: 20px !important;
	text-align: center !important;
	font-weight: normal !important;
}

.fc-toolbar {
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;
}

.fc-next-button,
.fc-prev-button {
	float: right;
	background: none !important;
	border: none !important;
	font-size: 0;
	line-height: 0;
	padding: 0 !important;
	outline: none;
}
.fc-next-button:before,
.fc-prev-button:before {
	content: "\e903";
	font: 28px/1 "Wetback-icons";
	color: #008be0;
}

.fc-prev-button {
	float: left;
}
.fc-prev-button:before {
	content: "\e902";
}

.fc-event-container .fc-time {
	font-size: 10px !important;
	line-height: 14px;
	margin: 0 0 3px !important;
	color: #051123;
}

.fc-event-container .fc-event {
	background: #afd9ef;
	border: 2px solid #33a2e6;
	border-radius: 6px;
}

.fc-event-container .fc-content {
	padding: 4px 27px 33px 7px !important;
	min-height: 105px;
	width: 134px;
	position: static !important;
}

.fc-event-container .fc-title {
	font-size: 12px !important;
	line-height: 14px;
	font-weight: bold;
	color: #051123;
}

.fc-event-container .time-info {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    left: 1px;
    bottom: 2px;
    font-size: 0;
}
.fc-event-container .time-info.hight {
	background: #dd283e;
}
.fc-event-container .time-info.medium {
	background: #f7941e;
}
.fc-event-container .time-info.low {
	background: #8dc63f;
}

.fc-event-container .bullets {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0;
	line-height: 0;
	color: #051123;
	background: none !important;
	width: auto;
	height: auto;
	z-index: 99;
}
.fc-event-container .bullets:after {
	content: "\e915";
	font: 20px/1 "Wetback-icons";
}
.fc-event-container .bullets:hover {
	color: #dd283e;
}

.fc-event .fc-bg {
	display: none;
}

.icons-list {
	position: absolute;
	right: 6px;
	bottom: 3px;
	z-index: 99;
}
img.badge-img{
    position: absolute;
	margin-left: -12px;
	margin-top: -3px;
	height: 13px;
}
.icons-list li {
	float: left;
}
.icons-list a {
	font-size: 0;
	line-height: 0;
	color: #051123;
}
.icons-list li.disabled a {
    opacity: .1;
}
.icons-list a:before {
	font-size: 16px;
	line-height: 1;
}
.icons-list .badge{
 font-size: 5px;
}
/*.icons-list a:hover {
	color: #dd283e;
}*/

.fc-icon {
	display: none !important;
}

.fc-row.fc-widget-header {
	border: none !important;
}

.fc-now-indicator.fc-now-indicator-arrow {
	display: none;
}

/* header styles */
#header .navbar-brand {
	padding: 0;
	height: auto;
}
.navbar-default{
	background-color: rgb(4, 74, 110);
	border-color: rgb(4, 74, 110);
}
@media (max-width: 991px) {
	#header .navbar-brand {
		margin: 0 auto;
		display: block;
		float: none;
		width: 142px;
	}
}
@media (max-width: 479px) {
	#header .navbar-brand {
		width: 120px;
		margin: 0 0 0 40px;
	}
}

/* custom navbar styles */
.navbar {
	padding: 20px 43px 19px;
	position: relative;
}
@media (min-width: 992px) {
	.navbar {
		padding: 20px 18px 12px 43px;
	}
}
@media (max-width: 991px) {
	.navbar .navbar-toggle {
		position: absolute;
		top: 0;
		left: 20px;
	}
	.navbar .navbar-toggle:focus .icon-bar,
	.navbar .navbar-toggle:hover .icon-bar {
		background: #051123 !important;
	}
}
@media (max-width: 991px) {
	.navbar .navbar-collapse {
		margin: 0 -51px !important;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		background: #051123;
		z-index: 9999;
	}
}

/* main navigation styles */
.nav {
	font-size: 14px;
	line-height: 16px;
}
@media (min-width: 992px) {
	.nav {
		padding: 13px 0 0 20px;
	}
}
@media (min-width: 1375px) {
	.nav {
		padding: 13px 0 0 11.3%;
	}
}
@media (min-width: 992px) {
	.nav li {
		padding: 0 10px;
	}
}
@media (min-width: 1375px) {
	.nav li {
		padding: 0 17px;
	}
}
.nav li a {
	padding: 10px 15px;
	display: block;
}
@media (max-width: 991px) {
	.nav li a:hover {
		background-color: #fff !important;
	}
}
@media (min-width: 992px) {
	.nav li a {
		padding: 0;
	}
}

/* user profile information styles */
@media (max-width: 991px) {
	.user-hold {
		position: absolute;
		right: 20px;
		top: 24px;
	}
}

.user-hold .img-hold {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 0 0 9px;
}
@media (max-width: 479px) {
	.user-hold .img-hold {
		display: none;
	}
}
.user-hold .img-hold img {
	display: block;
	width: 100%;
	border-radius: 50%;
}

.user-hold .dropdown-toggle {
	background: none;
	border: none;
	color: #fff;
	padding: 10px 0 0 0;
	font-size: 14px;
	line-height: 16px;
}
.user-hold .dropdown-toggle:hover {
	color: #dd283e;
}

.user-hold .caret {
	border: none;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	font-size: 15px;
	margin: 0 0 0 20px;
	vertical-align: top;
}

.user-hold .dropdown-menu {
	text-transform: capitalize;
	z-index: 999;
}

.user-hold .add-info {
	font-size: 32px;
	line-height: 1;
	margin: 0 10px 0 0;
	letter-spacing: -.6em;
}
.user-hold .add-info li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	padding: 0 2px;
	position: relative;
}
.user-hold .add-info a {
	color: #fff;
	cursor: pointer;
}
.user-hold .add-info a:hover {
	color: #dd283e;
}
.user-hold .add-info .badge {
	position: absolute;
	top: -1px;
	right: 4px;
}

/* custom scrollbars styles */
.jcf-scrollable-wrapper {
	-webkit-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
	box-sizing: content-box;
	position: relative;
}

.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	background: #e0e0e0;
	width: 10px;
	padding: 2px 0 0;
	bottom: 0;
	right: -13px;
	top: 0;
	border-radius: 6px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	display: none;
}

.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	top: auto;
	bottom: 0;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: #9b9b9b;
	height: 1px;
	width: 6px;
	left: 2px;
	border-radius: 6px;
}

.jcf-scrollbar-horizontal {
	position: absolute;
	background: #e3e3e3;
	right: auto;
	top: auto;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 14px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background: #bbb;
	height: 14px;
	width: 14px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	left: auto;
	right: 0;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
	display: inline-block;
	position: relative;
	height: 14px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
	position: absolute;
	background: #888;
	height: 14px;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
	visibility: hidden;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
	background: #e3e3e3;
}

/* common custom form elements styles */
.jcf-disabled {
	background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
	border-color: #f00 !important;
}

.jcf-scrollable {
	width: 100% !important;
	overflow-x: hidden !important;
	height: 72vh;
	padding-right: 10px;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
}

.fancybox-outer,
.fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
	background-image: url("../images/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: .8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url("../images/fancybox/blank.gif");
	/* helps IE */
	-webkit-tap-highlight-color: transparent;
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}

.fancybox-lock body {
	overflow: hidden !important;
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url("../images/fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, .8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #fff;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	#fancybox-loading,
	.fancybox-close,
	.fancybox-prev span,
	.fancybox-next span {
		background-image: url("../images/fancybox/fancybox_sprite@2x.png");
		background-size: 44px 152px;
		/*The size of the normal image, half the size of the hi-res image*/
	}
	#fancybox-loading div {
		background-image: url("../images/fancybox/fancybox_loading@2x.gif");
		background-size: 24px 24px;
		/*The size of the normal image, half the size of the hi-res image*/
	}
}