input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.tinytinyfontsize{
	font-size: 8px;
}
.tinyfontsize{
	font-size: 12px;
}
.clear{
	clear: both;
	display: block;
	float: none
}
.clear-10{
	clear: both;
	height: 10px;
}
.clear-15{
	clear: both;
	height: 15px;
}


.clear-17{
	clear: both;
	height: 17px;
}
.clear-20{
	clear: both;
	height: 20px;
}
.clear-25{
	clear: both;
	height: 25px;
}
.clear-26{
	clear: both;
	height: 26px;
}
.clear-30{
	clear: both;
	height: 26px;
}
.clear-50{
	clear: both;
	height: 50px;
}
.clear-100{
	clear: both;
	height: 100px;
}
.clear-5{
	clear: both;
	height: 5px;
}
.clear-7_5{
	clear: both;
	height: 7.5px;
}
.center-text{
	text-align: center !important;
}
.left-text{
	text-align: left !important;
}
.right-text{
	text-align: right !important;
}
.center-div,button.center-div{
	margin-top: auto !important;
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
	float: none !important;; 
}
.pad-right-5{
	padding-right: 5px;
}
.pad-right-10{
	padding-right: 10px;
}
.padding-10{
	padding: 10px !important;
}
.padding-20{
	padding: 20px !important;
}
.padding-left-10{
	padding-left: 10px !important;
}
.padding-left-20{
	padding-left: 20px !important;
}
.padding-left-25{
	padding-left: 25px !important;
}
.padding-left-35{
	padding-left: 35px !important;
}
.padding-top-5{
	padding-top: 5px;
}
.no-pad{
	padding:0px !important;
}
.no-pad-top{
	padding-top:0px !important;
}
.no-pad-right{
	padding-right:0px !important;
}
.no-pad-left{
	padding-left:0px !important;
}
.no-marg{
	margin: 0px !important;
}
.no-opac{
	opacity: 1 !important;
}
.half-opac{
	color: rgba(0 ,0,0, 0.5);
}
.popover{
	color: rgba(0 ,0,0, 1);
}
  
.pad-top-5{
	padding-top: 5px !important;
}
.pad-sides-10{
	padding-left: 10px;
	padding-right: 10px;
}
.pad-sides-15{
	padding-left: 15px;
	padding-right: 15px;
}
.pad-sides-20{
	padding-left: 20px;
	padding-right: 20px;
}
.pad-sides-25{
	padding-left: 25px !important;
	padding-right: 25px !important;
}
.pad-sides-30{
	padding-left: 30px;
	padding-right: 30px;
}
.pad-sides-35{
	padding-left: 35px !important;
	padding-right: 35px !important;
}
.margin-right-3{
	margin-right: 3px;
}
.margin-right-5{
	margin-right: 5px;
}
.margin-right-10{
	margin-right: 10px;
}
.margin-right-neg-10{
	margin-right: -10px;
}
.margin-left-10{
	margin-left: 10px;
}
.margin-top-neg-10{
	margin-top: -10px;
}
.margin-top-5{
	margin-top: 5px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-bottom-neg-10{
	margin-bottom: -10px;
}
.margin-bottom-5{
	margin-bottom: 5px;
}
.no-search{
	text-align: center;
	color: #dd283e;
}
.modal-form{
	text-align: left;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.overflow-visible{
	overflow: visible !important;
}
.colab-item{
	font-size: 15px;
}
.circle-pic{
	border-radius: 50%;
}
.smaller-icon{
	font-size: 22px;
}
.small-font{
	font-size: 15px;
}
.smaller-font{
	font-size: 12px !important;
}
.profile_pic{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}
.large_profile_pic{
	width: 150px;
	height: 150px;
	display: block;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
}
.select2-container {
	z-index: 99999;	
    width: 100% !important;
}
.sm-btn{
	padding: 4px 10px 5px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	border-radius: 5px;
}
.btn-dark-blue{
	color: #fff;
	background-color: #142744;
	border-color: #051123;
}
.btn-dark-blue:hover{
	color: #fff;
	background-color: #051123;
	border-color: #142744;
}
.btn-black{
	background: #fff;
	color: #000;
	border: 1px solid #000;
	padding: 5px;
	border-radius: 9px;
	transition: all 0.4s;
	cursor: pointer;
}
.btn-black:hover{
	background: #000;
	color: #fff;
}
.btn-grey{
	background: #fff;
	border: 1px solid #cdcdcd;
	color: #cdcdcd;
	padding: 5px;
	border-radius: 9px;
}
.dtp-btn-cancel{
	float: left;
}
.dtp div.dtp-date, .dtp div.dtp-time {
    background: #01496d;
	color: #fff;
}
.dtp .p10 > a {
    color: #008be0;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #01496d;
    color: #fff;
}
.dtp div.dtp-actual-year {
    color: #94BED3;
}
.dtp table.dtp-picker-days tr > td > a.selected {
    background: #01496d;
}
.margin-left-40{
	margin-left: 40px;
}
.invisible-input{
	background: none;
	border: none;
	width: 100%;
}
.summary-input{
    background: #94bed4 !important;
    border-color: black;
    color: #000;
}
.summary-input-light{
    background: #e7f8fd !important;
    border-color: black;
    color: #000;
}
.summary-text{
	color: #155576;
    font-size: 15px;
    font-weight: bolder;
}
.light-blue-body{
	background: #e7f8fd;
	width: 100%;
    padding: 20px;
}
.hover-pointer{
	cursor: pointer !important;
}
.hover-normal{
	cursor: default !important;
}
.hover-disabled{
	cursor:not-allowed;
}
.degree-disabled{
	cursor:default;
}
.blocker{
	z-index: 999;
}
.smaller-icon {
	font-size: 20px;
}
.modal a.close-modal {
	top: 2px;
	right: 2px;
	background: url("../images/x.png");
}
.modal{
	padding: 0px;
	border-radius: 15px;
	overflow: hidden;
	max-width: 100% !important;
}
.modal-heading{
	background: #01496d;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	text-align: center;
}
.modal-body{
	padding: 10px;
}
.modal .btn{
	border-radius: 5px;	
}
.dropdown-menu{
	background: #fff;
	border: none !important;
	top: 40px;
}
.dropdown-menu{
	border-radius: 0px;
}
.dropdown-menu li a{
	padding: 5px;
	border-radius: 5px;
	margin: 1px;
}

.dropdown-menu > li:hover a,
.dropdown-menu > li:focus a,
.dropdown-menu > li:active a,
.dropdown-menu > li a:hover,
.dropdown-menu > li a:focus,
.dropdown-menu > li a:active{
    color: #fff;
    background-color:rgb(0, 139, 224);
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
p.info{
    padding: 10px;
    color: rgb(85, 85, 85);
    text-align: center;
    margin: 0px;
}
span.info{
    color: #414141;
}ul.notifications li {
    text-transform: none !important;
    width: 100%;
    margin: 0px;
    padding: 0px !important;
    color: #000 !important;
    border-radius: 0px;
    border-bottom: 1px solid #c3c3c3;
	/*height: auto;*/
	min-height: 60px;
}
ul.notifications  li a:hover{
	background: none;
}
ul.notifications {
    width: 300px;
    left: -140px;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 0px;
    max-height: 400px;
    overflow-y: scroll;
}
ul.notifications span.notification-header{
	float: left;
	width: 90%;
	font-size: 15px;
	color: rgb(0, 139, 224);
	font-weight: bolder;
	margin-bottom: 3px;
	padding-top: 5px;
	padding-left: 5px;
}
ul.notifications span.notification-time{
	color: rgb(85, 85, 85);
	font-size: 10px;
	float: right;
	padding-right: 2px;
}
ul.notifications span.notification-message{
	padding-bottom: 5px;
	padding-left: 5px;
	display: block;
	float: left;
	width: 90%;
}
ul.notifications span.notification-tick{
	float: left;
	display: block;
	width: 10%;
	margin-top: 15px;
	cursor: pointer;

}
ul.notifications span.notification-tick{
	transition: all 1s;
}
ul.notifications span.notification-tick:hover{
	color: #c3c3c3;
}

ul.notifications li.active span.notification-header,ul.notifications li.active span.notification-message,ul.notifications li.active span.notification-tick{
	display: none;
}
ul.notifications li.active span.hover-notification{
	display: block;
}
ul.notifications li span.hover-notification{
	height: 60px;
	width: 100%;
	background: #148C14;
	display: none;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding-top: 15px;
	cursor: pointer;
}
.no-notifications{
	padding: 10px;
	text-align: center;
	width: 100%;
	display: block;
}
li.active-nav-link a{
	text-decoration: underline;
}
.cross-out{
	text-decoration: line-through;
}
.line {
    clear: both;
    height: 1px;
    background: #000;
    width: 100%;
}
.thick-line {
    clear: both;
    height: 2px;
    background: #000;
    width: 100%;
}
.white-container{
	background: #fff;
	padding: 20px;
}
.form-row-header{
	font-size: 18px;
	font-weight: bold;
}
.fields-holder-blue{
	background: #e6f8fe;
	padding: 7px;
	clear: both;
}
.fields-holder-gray{
	background: #E5E5E5;
	padding: 7px;
    min-height: 36px !important;
}
.fields-holder-white{
	background: #fff;
	padding: 7px;
	clear: both;
}
.fields-holder-blue::before, .fields-holder-blue::after {
    content: " ";
    display: table;
    clear: both;
}
.field-name{
	margin-bottom: 2px;	
	max-height: 16px;
	overflow: hidden;
}
.field-name-empty{
	min-height: 13px;
}
.margin-bottom-5{
	margin-bottom: 5px;
}
.row-1{
	width: 10%;
	float: left;
}
.row-2{
	width: 20%;
	float: left;
}
.row-3{
	width: 33.33%;
	float: left;
	min-height: 1px;
}
.row-4{
	width: 25%;
	float: left;
}

.row-8{
	width: 50%;
	float: left;
}
.row-percent-0_5{
	width: 0.5%;
	float: left;
	min-height: 1px;
}
.row-percent-1{
	width: 1%;
	float: left;
	min-height: 1px;
}
.row-percent-2{
	width: 2%;
	float: left;
	min-height: 1px;
}
.row-percent-2-7{
	width: 2.7%;
	float: left;
	min-height: 1px;
}
.row-percent-3{
	width: 3%;
	float: left;
	min-height: 1px;
	min-width: 35px;
}
.row-percent-3_33{
	width: 3.33%;
	float: left;
	min-height: 1px;
	min-width: 35px;
}
.row-percent-3_7{
	width: 3.7%;
	float: left;
	min-height: 1px;
}
.row-percent-4{
	width: 4%;
	float: left;
	min-height: 1px;
	min-width: 35px;
}
.row-percent-5{
	width: 5%;
	float: left;
	min-height: 1px;
}
.row-percent-6{
	width: 6%;
	float: left;
}
.row-percent-7{
	width: 7%;
	float: left;
	min-height: 1px;
}
.row-percent-7_5{
	width: 7.5%;
	float: left;
	min-height: 1px;
}
.row-percent-10{
	width: 10%;
	float: left;
	min-height: 1px;
}
.row-percent-9{
	width: 9%;
	float: left;
	min-height: 1px;
}
.row-percent-10_7{
	width: 10.7%;
	float: left;
	min-height: 1px;
}
.row-percent-12_5{
	width: 12.5%;
	float: left;
	min-height: 1px;
}
.row-percent-13{
	width: 13%;
	float: left;
	min-height: 1px;
}
.row-percent-15{
	width: 15%;
	float: left;
	    min-height: 1px;
}

.row-percent-20{
	width: 20%;
	float: left;
	min-height: 1px;
}
.row-percent-23_3{
	width: 23.33%;
	float: left;
	min-height: 1px;
}
.row-percent-25{
	width: 25%;
	float: left;
	min-height: 1px;
	
}
.row-percent-30{
	width: 30%;
	float: left;
	min-height: 1px;
}
.row-percent-33{
	width: 33.33%;
	float: left;
	min-height: 1px;
}
.row-percent-35{
	width: 35%;
	float: left;
	min-height: 1px;
}
.row-percent-40{
	width: 40%;
	float: left;
	min-height: 1px;
}
.row-percent-41_7{
	width: 41.7%;
	float: left;
	min-height: 1px;
}
.row-percent-45{
	width: 45%;
	float: left;
	min-height: 1px;
}
.row-percent-45_5{
	width: 45.5%;
	float: left;
	min-height: 1px;
}
.row-percent-46_5{
	width: 46.5%;
	float: left;
	min-height: 1px;
}
.row-percent-49{
	width: 49%;
	float: left;
	min-height: 1px;
}
.row-percent-50{
	width: 50%;
	float: left;
	min-height: 1px;
}
.row-percent-60{
	width: 60%;
	float: left;
	min-height: 1px;
}
.row-percent-65{
	width: 65%;
	float: left;
}
.row-percent-68{
	width: 68%;
	float: left;
}
.row-percent-70{
	width: 70%;
	float: left;
	min-height: 1px;
}
.row-percent-75{
	width: 75%;
	float: left;
}
.row-percent-80{
	width: 80%;
	float: left;
	min-height: 1px;
}
.row-percent-85{
	width: 85%;
	float: left;
}
.row-percent-90{
	width: 90%;
	float: left;
	min-height: 1px;
}
.row-percent-94{
	width: 94%;
	float: left;
	min-height: 1px;
}
.row-percent-95{
	width: 95%;
	float: left;
	min-height: 1px;
}
.row-percent-100{
	width: 100%;
	float: left;
}
.row-width-25{
	width: 25px;
	float: left;
}
.row-width-40{
	width: 40px;
	float: left;
}
.input-row{
	padding-right: 2px;
}
.fields-holder-blue .select2-selection--single .select2-selection__arrow {
	right: 8px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 37px;
}
.select2-container--default .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
	background-color: #e8e8e8;
	border-radius: 0px;
	border:none;
	height: 37px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
	color: #000;
}
.form-add{
	color: #0d97f4;
	cursor: pointer;
	float: left;
}
.form-add .fa-stack{
	font-size: 10px;
	margin-top: -3px;
}
.form-add .fa.fa-plus{
	font-size: 9px;
	margin-top: 0.5px;
}
.font-9px{
	font-size: 9px !important;
}
.form-delete,.form-save{
	font-size: 20px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
	margin-top: 5px;
	color: #0d97f4;
	cursor: pointer;
	transition: all 0.5s;
}
.form-delete:hover{
	color: #dd283e;
}
.form-save:hover{
	color: #000;
}
#loading{
	max-width: 100px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-top: 15%;
}
td.light-blue-background{
	background: #e7f8fd !important;
	border: #e7f8fd !important;
	box-shadow: none !important;
	color: #000;
	border-right: 2px solid #fff !important;
}
input.light-blue-background,
textarea.light-blue-background,
.light-blue-background{
	background: #e7f8fd !important;
	border: #e7f8fd !important;
	box-shadow: none !important;
	color: #000;
}
.white-background-row{
	background: #fff !important;
}
.input-row input[type="checkbox"] {
    width: 20px;
    margin-right: auto;
    margin-left: auto;
}
.tooltip-holder{
	cursor:help;
}
.tooltip-holder:hover .tooltip-popup {
	opacity: 1;
	visibility: visible;
}
.tooltip-holder .tooltip-popup{
	-webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #051123;
	border-radius: 4px;
	color: #fff;
	font-size: 10px;
	line-height: 12px;
	width: 95px;
	padding: 10px;
	opacity: 0;
	visibility: hidden;
	margin-top: -48px;
	margin-left: 4px;
}

.tooltip-holder:hover .tooltip-popup {
	-webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}
  
.tooltip-popup:after {
	content: "";
	position: absolute;
	left: 52%;
	bottom: -11px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border: 5px solid transparent;
	border-top: 6px solid #051123;
}
.corner-ribbon{
	width: 200px;
	background: #e43;
	position: absolute;
	top: 25px;
	left: -50px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: #f0f0f0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	z-index: 99999;
}
.corner-ribbon.top-right{
	top: 25px;
	right: -50px;
	left: auto;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.corner-ribbon.sticky{
	position: fixed;
}
.corner-ribbon.Dev{
    background: #324fb0;
}
.corner-ribbon.Testing{
    background: #32b04c;
}

@media (max-width: 1500px) {
	.sm-clear-13{
    	clear: both;
    	height: 13px;
	}
}
@media (min-width: 1250px) {
	.main-holder{
		min-height: 896px;
	}
}
@media (max-width: 1250px) {
	.left-panel{
		width: 300px;
	}
	.nav-active .main-holder::before {
	    content: " ";
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    right: auto;
	    bottom: 0px;
	    background: #79a1ba;
	    width: 300px;
	}
	.nav-active .main-holder {
	    padding-left: 253px;
	}
}
@media (max-width: 1200px) {
	#calendar ul.icons-list{
		display: none;
	}
	.left-panel{
		width: 250px;
	}
	.nav-active .main-holder::before {
	    content: " ";
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    right: auto;
	    bottom: 0px;
	    background: #79a1ba;
	    width: 250px;
	}
	.nav-active .main-holder {
    	padding-left: 170px;
	}
	.sub-navigation .opener,.second-nav,.fc-head .fc-day-header {
	    font-size: 14px !important;
	}
}
@media (max-width: 1100px) {
	.left-panel .heading-wrap{
		display: none;
	}
	.task-item .fake-input{
		width: 18px;
		height: 18px;
	}
	.nav-active .main-holder:before{
		background: #e8e8e8;
	}

	.nav-active .main-holder {
		padding-left: 0px;
		padding-top: 300px;
	}
	.main-holder {
		padding-left: 0px;
		padding-top: 100px;
	}
	.list-item{
		width: 100%;
		float: left;
		padding: 5px;
		overflow: hidden;
	}
	.list-item a{
	    border-top-right-radius: 5px;
	    border-bottom-left-radius: 5px;
	}
	.search-form {
	    max-width: 400px;
	    margin-left: auto;
	    margin-right: auto;

	}
	.invite{
		max-width: 400px;
		margin-left: auto !important;
		margin-right: auto !important;
		border-radius: 5px;
	}
	.task-information{
		padding:20px;
	}
	.nav-active .left-panel.fixed-position {
	    overflow-y: auto;
	    height: 300px;
	    min-height: 300px;
	    position: relative !important;
	}
	
	.left-panel{
		    left: 0px !important;
		    overflow: hidden;
		    height: 100px;
		    min-height: 100px;
	   	 	width: 100% !important;
	}
	.nav-active .left-panel {
	   	 	width: 100%;
	    	height: 300px;
		    min-height: 300px;
		    left: 0px !important;
		    overflow-y: scroll;
	}
	#TasksSearchResults .profile-pic{
		display:  none;
	}
	.column-slider{
		width: 9%;
	}
	.column-slider h2{
		display: none;
	}
	.column-slider.col-collapsed {
		width:  33% !important;
	}
	.task-information .three-col .col-collapsed{
		width:  33% !important;
	}
	.task-information .two-col .col-collapsed{
		width: 45% !important;
	}
	.task-information .one-col .col-collapsed{
		width: 80% !important;
	}
	
	.col-collapsed h2{
		display: block;
	}
	.col-heading .column-opener i {
	    display: block;
	    -webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    transform: rotate(90deg);
	}
	/*.col-heading {
    	height: 300px;
    }*/
    .col-heading{
    	height: 52px;
    }
    .column-slider.col-collapsed .column-opener i {
	    -webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	}
}
@media (max-width: 769px) {
	.col-collapsed{
		width: 100% !important;
	}
	.column-slider.col-collapsed {
		width:  100% !important;
	}
	/*.task-item {
		z-index: 0;
	}*/
	#tasks-holder{
		margin-bottom: 20px;
	}
	.all-tasks-holder{
		overflow-y: visible;
		overflow-x: visible;
		height: auto !important;
	}
	.controls-list .icon-sort,.controls-list i {
		z-index: 1;
	}
	.task-information .three-col .col-collapsed,.task-information .two-col .col-collapsed,.task-information .one-col .col-collapsed{
		width: 100% !important;
	}
	.column-slider h2{
		display: block;
	}
	.column-slider{
		width: 100%;
	}
	.col-heading .column-opener i {
	    display: block;
	    -webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	
    .column-slider.col-collapsed .column-opener i {
	    -webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
}