
<cfparam name="url.ID" default="">

<cfoutput>
    <div class="row icons" >
    	<div id="1" >
    		<i class="material-icons" >error</i>
    	</div>
    	<div class="icon2" >
    		<i class="material-icons" >error</i>
    	</div>
	    <div id="3" >
    		<i class="material-icons" >error</i>
    	</div>  
    </div>
    <div class="row" style="padding-left: 160px;">
    	<div id="1" class="buttonlist">
    		<strong>Project details</strong>
    	</div>
    	<div   style=" border-bottom: 1px solid black;width:90px">
    
    	</div>
    	<div  class="check buttonlist" >
    		<strong> Line Class</strong>
    	</div>
    	<div style="border-bottom: 1px solid black;width:90px">
    
    	</div>
	    <div  class="buttonlist">
    		<strong> Startup Check List</strong>
    	</div>  
    </div>
    
    <div class="container">
    	<div style="margin-top:34px ;border-bottom: 1px solid black"></div>
    	<div class="detail-head">
             <strong> Project Details</strong>    		
    	</div>
    	<div class="details">
    		<div class="row">
    			<div class="col-lg-12">
    				 <form class="form-inline">
			        	   <div class="">
			        	        Client Name
			        	   </div>
						  <div class="form-group">
						    <input type="text" class="form-control" id="" >
						  </div>
						  <div class="">
			        	        Project Name:
			        	   </div>
						  <div class="form-group">
						    <input type="text" class="form-control" id="" >
						  </div>

						  <div class="">
			        	        Contract Number:
			        	   </div>
						  <div class="form-group">
						    <input type="text" class="form-control" id="">
						  </div>
						 <!---  <div class="">
			        	        Date Awarded:
			        	   </div>
						  <div class="form-group">
						    <input type="text" class="form-control" id="">
						  </div> --->
	           </form>
    			</div>
    		</div>
        </div>
        
    </div> 
</cfoutput>