<cfparam name="#url.job#" default="">

<cfquery name="insert_job" datasource="#application.db#">
   INSERT INTO jobs
   (
     Name
   	)
   VALUES
   (
    <cfqueryparam value="#url.job#">
   	)
</cfquery>